.container {
   position: relative;
   padding: 0.5rem;
   margin: 0 auto;
   background-color: #233e33;
   border-radius: 10px;
   margin-bottom: 1rem;
}

.main {
   color: blanchedalmond;
   margin-bottom: 0.5rem;
   min-height: 100%;
   position: relative;
   margin: 0 auto;
   flex: 1 1 auto;
   padding: 0.5rem;
}

.main p {
   padding: 1rem;
}