.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  margin: 0 auto;
  background-color: #282c34;
}

.main {
  color: blanchedalmond;
  margin-bottom: 1rem;
}

.main p {
  padding: 1rem;
}

.footer {
  color: blanchedalmond;
  padding: 0.5rem;
  background-color: #203641;
}


.footer a {
  text-decoration: none;
  color: blanchedalmond;
  cursor: pointer;
}